.navbar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  position: relative;
  padding: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-item:hover {
  color: #f77b19; /* Change text color on hover */
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #332e33;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
